<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://materializecss.com/images/metaphor.png" alt="...">
      <div class="caption">
        <h3>Lorem ipsum dolor</h3>
        <p>
           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consectetur, ante id interdum tincidunt, enim diam tincidunt augue, id ullamcorper neque urna sed metus. Nulla efficitur mauris vel dui interdum maximus. Donec volutpat lacinia nisi, at dignissim libero hendrerit id. Nam tempus posuere tortor eu auctor. Nulla hendrerit ipsum sed pellentesque bibendum. 
        </p>
        <p><a href="#" class="btn btn-default" role="button">Learn more</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://materializecss.com/images/bold.png" alt="...">
      <div class="caption">
        <h3>Lorem ipsum dolor</h3>
        <p>
           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consectetur, ante id interdum tincidunt, enim diam tincidunt augue, id ullamcorper neque urna sed metus. Nulla efficitur mauris vel dui interdum maximus. Donec volutpat lacinia nisi, at dignissim libero hendrerit id. Nam tempus posuere tortor eu auctor. Nulla hendrerit ipsum sed pellentesque bibendum. 
        </p>
        <p><a href="#" class="btn btn-default" role="button">Learn more</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://materializecss.com/images/motion.png" alt="...">
      <div class="caption">
        <h3>Lorem ipsum dolor</h3>
        <p>
           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consectetur, ante id interdum tincidunt, enim diam tincidunt augue, id ullamcorper neque urna sed metus. Nulla efficitur mauris vel dui interdum maximus. Donec volutpat lacinia nisi, at dignissim libero hendrerit id. Nam tempus posuere tortor eu auctor. Nulla hendrerit ipsum sed pellentesque bibendum. 
        </p>
        <p><a href="#" class="btn btn-default" role="button">Learn more</a></p>
      </div>
    </div>
  </div>
</div>
