<hr>
<div class="row">
  <div class="col-xs-8">
    <ul class="list-unstyled list-inline pull-left">
      <li><a href="#">Terms of Service</a></li>
      <li><a href="#">Contact Us</a></li>
      <li><a href="#">Privacy</a></li>
    </ul>
  </div>
  <div class="col-xs-4">
    <p class="text-muted pull-right">© 2015 Company Name. All rights reserved</p>
  </div>
</div>
