<div class="jumbotron">
  <h1 class="text-center">What is `Investable`?</h1>
  <br/>
  <p>
     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consectetur, ante id interdum tincidunt, enim diam tincidunt augue, id ullamcorper neque urna sed metus. Nulla efficitur mauris vel dui interdum maximus. 
     <a href="#">Learn more...</a>
  </p>
  <br/>
  <p>
    <%= render partial: 'v2/main_search' %>
  </p>
</div>
