<div class="form-group">
  <select class="form-control input-lg" name="institution_id">
    <option value="-1">Any institution</option>
    <% @institutions.each do |item| %>
      <option value="<%=item.id%>"><%=item.name%></option>
    <% end %>
  </select>
</div>
