<div class="form-group">
  <label class="sr-only" for="inventors">Inventors</label>
  <textarea class="form-control input-lg" name="inventors" placeholder="Inventors"><%= params.has_key?(:inventors) ? params[:inventors] : '' %></textarea>
</div>
