<div class="form-group">
  <select class="form-control input-lg">
    <option>Patent Status</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
  </select>
</div>

