<div class="form-group">
  <select class="form-control input-lg" name="stage_of_research_index_id">
    <option>Stage of Research</option>
    <% @stage_of_research.each do |item| %>
      <option value="<%=item.id%>"><%=item.stage%></option>
    <% end %>
  </select>
</div>
